.book-preview{
    border: 1px solid #ddd;
    margin: 10px;
    background-color: #f0895dab;
    text-align: center;
    width: 300px;
    
    h3{
        margin:9px;
        color: #5d003c;
    }
    p{
        margin-bottom:7px;
    }
    .sale-wrapper{
        width: 100px;
    height: 48px;
    background-color: #00c50ce6;
    z-index: 2;
    position: absolute;
    padding: 9px;
    font-size: 1.6rem;
    color: #fff;
    border-radius: 0px 0px 15px 0px;
    }
    .preview-btn{
        width: 85px;
        height: 30px;
        margin: 3px;
        color: #42002b;
        transition: .4s cubic-bezier(.25,.8,.25,1);


        &:hover{
            background-color: #f7733aab;
            color: #000000;
        }
    }
    
}