.chat-box{
    width: 350px;
    height: 430px;
    background-color: #ccc;
    padding: 10px;
    position: fixed;
    top: calc(100vh - 430px);
    left: 0px;
    z-index: 5;
    
}

.esc-btn{
    background-color: #00000026;
    padding: 6px 10px;
    transition: .4s cubic-bezier(.25,.8,.25,1);

    &:hover {
    background-color: #00000060;

    }
}

.char-header{
    padding-bottom: 12px;
}

.chat-input-wrapper{
    // position: absolute;
    // bottom: 10px;
}