.filter-container{
    width: 100%;

    @media screen and (max-width: 650px){
        display: flex;
        flex-direction: column;
    }

    .add-book-btn{
        position: relative;
        top: 10px;
        max-width: 100px;
    }
}
.filter-book{
    margin: 25px;

    @media screen and (max-width: 550px){
        width: 87%;
        margin: 14px;
    }
}