.msg-list{
    background-color: #ddd;

    .chat-user-msg{
        background-color: rgb(145, 145, 145);
        color: rgb(58, 58, 58);
    }
    .chat-bot-msg{
        background-color: rgb(206, 206, 206);
        color: rgb(36, 36, 36);
    }
    .chat-msg-wrapper{
        padding:3px;
    }
}